@mixin flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex: 1;
}


//color
$c1:hsl(0, 0%, 0%);
$c2:hsl(0, 0%, 100%);
$c3:hsl(90, 100%, 65%);
$c4:hsl(34, 100%, 56%);
$c5:hsl(0, 100%, 63%);
$c6:hsl(300, 69%, 27%);
$c7:hsl(240, 100%, 73%);
$c8:hsl(55, 100%, 61%);

//bg colors
$bg1:hsl(0, 0%, 0%);
$bg2:hsl(0, 0%, 100%);
$bg3:hsl(90, 100%, 65%);
$bg4:hsl(34, 100%, 56%);
$bg5:hsl(0, 100%, 63%);
$bg6:hsl(300, 69%, 27%);
$bg7:hsl(240, 100%, 73%);
$bg8:hsl(55, 100%, 61%);

//paddings
$p1:0.5rem;
$p2:1.0rem;
$p3:1.5rem;
$p4:2rem;
$p5:2.5rem;

//margins
$m1:0.5rem;
$m2:1.0rem;
$m3:1.5rem;
$m4:2rem;
$m5:2.5rem;